<!DOCTYPE html>
<html>

<head>
      <title>Weather App</title>
    <link rel="icon" href="/styles/weather.png">
    <link rel="stylesheet" href="/styles/style.css">
  
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{content}}
        <p>NITK Campus Surathkal </p>
    </div>
    {{>footer}}
      <script src="./script/myjs.js"></script>
</body>

</html>